@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  
}

#root {
  height:100%;
  width:100%;
}

body {
  height: 100vh;
  width:100vw;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  -webkit-appearance: none;
  border-radius: 8px;
  @apply bg-gray-400 hover:bg-gray-400;
}

